# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Project files
*.xcodeproj
*.xcworkspace
samples/triangle-manual/hello-triangle-manual
samples/triangle-usl/hello-triangle-usl
samples/triangle-usl/triangle.us
samples/triangle-usl/triangle.usl.metal
samples/triangle-usl/triangle.usl.logs
samples/textured-quad-usl/hello-textured-quad-usl
samples/textured-quad-usl/textured_quad.us
samples/textured-quad-usl/textured_quad.usl.metal
samples/textured-quad-usl/textured_quad.usl.logs
win/.vs/
win/gpu/
win/gpu/x64/
win/gpu/src/
win/x64/
win/packages/
win/ARM64/
